/.idea
/.idea
.idea/modules.xml
.idea/TankGame.iml
*.xml
*.iml
/cmake-build-debug
CMakeLists.txt
.idea/vcs.xml
.idea/TankGame.iml
.idea/modules.xml
.idea/vcs.xml
.idea/TankGame.iml
.idea/modules.xml
*.iml
*.txt
CMakeLists.txt
*.txt
*.xml
*.iml
*.xml
/CMakeFiles
